.scrub {
    width: 300px;
    height: auto;
}

.bestsellersFlex {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

.setsFlex {
    display: flex;
}

.productItem {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    transition: 
        background-color 0.3s ease,
        transform 0.3s ease, 
        color 0.3s ease;
}

.productItem:hover {
    transform: scale(1.05);
}

.h1 {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #0d0c10;
}

.button {
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    color: #0d0c10;
}

.bestsellersWrapper {
    text-align: center;
}

.tabsWrapper {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.infoContainerSets {
    width: 40%;
}

.rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.composition {
    text-align: left;
    width: 42.8%;
}

.p {
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 150%;
    color: #0d0c10;        
    margin-bottom: 10px;
}

.h3 {
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 22px;
    color: #000;
    text-transform: uppercase;
    margin: 30px 0 10px;
    /* white-space: nowrap; */
}

.h3Hide {
    color: inherit;
}

.true {
    cursor: pointer;
}

.false {
    cursor: initial;
}

.ratio {
    font-size: 12px;
}

@media (max-width: 1248px) {

    .scrub {
        width: 250px;
    }

    .h3 {
        margin: 20px 0 10px;
    }

}

@media (max-width: 1024px) {
    .scrub {
        width: 320px;
    }

    .composition {
        display: none;
    }

    .p {
        font-size: 14px;
    }
    
    .h3 {
        margin: 0 0 10px;
    }
    
    .infoContainer {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
    }

    .infoContainerSets {
        width: initial;
    }

}

@media (max-width: 768px) {
    
    .h1 {
        margin-bottom: 20px;
        font-size: 28px;
    }
    
    .productItem {
        gap: 0px;
    }

    .scrub {
        width: 280px;
        min-width: 150px;
        height: auto;
    }
}

@media (max-width: 610px) {
    .scrub {
        width: 240px;
    }

    .h3 {
        font-size: 20px;
    }
}

@media(max-width: 522px) {
    .scrub {
        width: 100%;
    }

    .p {
        font-size: 11px;
        margin-bottom: 7px;
        line-height: 130%;
    }
    
    .h3 {
        margin-bottom: 7px;
    }

    .rating {
        display: none;
    }
}

@media(max-width: 430px) {
    .p {
        font-size: 9px;
        margin-bottom: 5px;
        line-height: 110%;
    }
    
    .h3 {
        letter-spacing: 1.5px;
        font-size: 18px;
        margin-bottom: 5px;
    }
}

@media(max-width: 370px) {
    .infoContainer {
        width: 70%;
    }

    .h3 {
        font-size: 16px;
    }

    .scrub {
        min-width: 130px;
    }
}


@media(max-width: 320px) {
    .scrub {
        width: 100%;
    }

   .infoContainer {
        display: none;
    }
}