.bestsellersWrapper {
    text-align: center;
}

.h1 {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #0d0c10;
}

.button {
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    color: #0d0c10;
}

.tabsWrapper {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bestsellersGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 20px;
    align-items: center;
  }

.setsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}
  
.productItem {
    display: contents; 
    /* Позволяет каждому элементу внутри вести себя как grid-item */
}

.infoContainer {
    display: flex;
    flex-direction: column;
    margin: 0 0 auto;
    text-align: left;
}

.rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.composition {
    margin: 0 0 auto;
    text-align: left;
}

.p {
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 150%;
    color: #0d0c10;        
    margin-bottom: 10px;
    min-height: 22px;
}

.h3 {
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 22px;
    color: #000;
    text-transform: uppercase;
    margin: 20px 0 10px;
    white-space: nowrap;
}

.h3Hide {
    color: #FFF;
}


.raspberry {
    width: 85%;
    height: auto;
}

.mango {
    height: auto;
    width: 80%;
    margin: 30px 0 0 20px;
}

.coconut {
    height: auto;
    width: 95%;
    margin: 0 0 0 -30px;
}

.mint {
    width: 80%;
    height: auto;
    margin: 30px 0 0 10px;
}

.lavender {
    margin: 20px 0 0 -15px;
    width: 100%;
    height: auto;
}

.bubblegum {
    width: 87%;
    height: auto;
    margin: 20px 0 0 0;
}

.caramel {
    margin:  30px 0 0 15px;
    width: 80%;
    height: auto;
}

.true {
    cursor: pointer;
}

.false {
    cursor: initial;
}

@media (max-width: 1024px) {
    .bestsellersGrid {
        grid-template-columns: 1fr 1fr;
    }

    .composition {
        display: none;
    }
}
