.headerWrapper {
    background: linear-gradient(180deg, #fff 0%, #f7efef 100%);
    position: relative;
    z-index: 2;
}

.imgWrapper {
    z-index: 1;
    margin-top: 120px;
    width: 100%;
    text-align: center;   
    overflow: hidden;
}

.headerBody {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.textHeader {
    margin-top: 60px;
    position: relative;
    text-align: center;
}

.h1Header {
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: rgba(26, 26, 26, 0.9);

    .spanHeader {
        font-style: italic;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #1a1a1a;
    }
}

.spanHeader {
    margin: 0 0 0 -90px;
    position: absolute;
}

.saltBodyScrub {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1140px;
    width: 100%;
    overflow: hidden;
}

.bottomText {
    margin: 40px 0 20px auto;
    width: 580px;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    font-variant: small-caps;
    color: rgba(26, 26, 26, 0.5);
}

/* .scrub {
    height: auto;
    margin: 200px auto 0;
} */

@media (max-width: 1024px) {
    .scrub {
        width: 600px;
        height: auto;
    }

    .saltBodyScrub {
        height: auto;
        object-fit: initial;
    }
}

@media (max-width: 768px) {
    .h1Header {
        font-size: 36px;
    
        .spanHeader {
            font-size: 28px;
        }
    }  

    .saltBodyScrub {
        height: 102px;
        object-fit: cover;
    }

    .scrub {
        object-fit: cover;
        height: 120px;
        left: 50%;
        position: absolute;
        width: auto;
        transform: translate(-50%, -50%);
    }

    .bottomText {
        width: 400px;
    }

    .bottomText {
        margin: 90px 0 20px auto;
        width: 100%;
    }
    
    .imgWrapper {
        margin-top: 140px;
    }

}

@media (max-width: 610px) {
    .h1Header {
        font-size: 32px;
    
        .spanHeader {
            font-size: 24px;
        }
    }  

    .saltBodyScrub {
        height: auto;
        object-fit: initial;
    }
}

@media (max-width: 546px) {
    .h1Header {
        font-size: 28px;
    
        .spanHeader {
            font-size: 20px;
        }
    }  
}

@media (max-width: 430px) {
    .saltBodyScrub {
        height: 57px;
        object-fit: cover;
    }
}

@media (max-width: 362px) {
    .h1Header {
        font-size: 26px;
    
        .spanHeader {
            font-size: 18px;
        }
    }

}