.catalogWrapper {
    overflow: hidden;
}

.headerWrapper {
    background: linear-gradient(180deg, #fff 0%, #f7efef 100%);
    position: relative;
    z-index: 2;
}

.imgWrapper {
    z-index: 1;
    margin-top: 120px;
    width: 100%;
    text-align: center;   
    overflow: hidden;
}

.headerBody {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.textHeader {
    margin-top: 60px;
    position: relative;
    text-align: center;
}

.h1Header {
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: rgba(26, 26, 26, 0.9);

    .spanHeader {
        font-style: italic;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #1a1a1a;
    }
}

.spanHeader {
    margin: 0 0 0 -90px;
    position: absolute;
}

.saltBodyScrub {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1140px;
    width: 100%;
    overflow: hidden;
}

.bottomText {
    margin: 40px 0 20px auto;
    width: 580px;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    font-variant: small-caps;
    color: rgba(26, 26, 26, 0.5);
}

.iconsWrapper {
    display: flex;
    margin: 7% auto;
    gap: 10%;
    justify-content: center;
    width: 70%;
}

.partners {
    margin: 5% 0 0 0;
    display: flex;
    justify-content: space-around;
}

.wbLogo {
    max-width: 170px;
    height: auto;
}

/* .gradient {
    position: relative;
}

.gradientImage {
    color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    height: auto;
    z-index: -1;
} */

/* styles for BodyCatalog */

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    font-variant: small-caps;
    color: #1a1a1a;
    margin: 0 0 30px 0;
}

.bodyWrapper {
    margin-bottom: 90px;
}

.catalogList {
    display: grid;
    row-gap: 50px;
    column-gap: 2%;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 0 3% 0;
}

.h1Body {
    font-weight: 400;
    font-size: 38px;
    line-height: 110%;
    text-transform: uppercase;
    color: #1a1a1a;
    text-align: center;
    margin:  0 0 50px 0;
}

.cardContent {
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 10px 30px 50px 20px;
}

.cardItem {
    border-radius: 8px;
    background: linear-gradient(180deg, #fff 0%, #ececec 100%);
    position: relative;
}

.scrabImg {
    margin: 0 auto;
    display: block;
}

.descScrab {
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
}

.rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.infoButtonWrapper {
    display: flex;
    justify-content: center;
    transition: 
}

.infoButton {
    backdrop-filter: blur(15.099999904632568px);
    /* background-color: #ffffff02; */
    background-color: #ffffff02;
    bottom: -21px;
    position: absolute;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 60%;
    height: 42px;
    text-decoration: none;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    align-items: center;    
}

.infoButton:hover {
    border-color: rgba(0, 0, 0, 0.2);
    background-color: #ffffff6e;
}

.h3Body {
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;
    color: #000;
    /* min-height: 48px; */
}

.price {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.8);    
}

.oldPrice {
    font-weight: 500;
    padding-left: 10px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-decoration: line-through;
    color: #9ca3af;
}

.ratio {
    font-weight: 500;
    font-size: 12px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

/* end styles for BodyCatalog */

@media (max-width: 1431px) {
    .scrabImg {
        width: 90%;
        height: auto;
    }

    .h3Body {
        font-size: 19px;
    }

    .catalogList {
        /* grid-template-columns: repeat(3, 1fr); */
    }
    
}

@media (max-width: 1248px) {
    .catalogList {
        row-gap: 50px;
        column-gap: 15px;
    }
    
}

@media (max-width: 1024px) {
    .catalogList {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .iconsWrapper {
        margin: 10% auto;
    }

    .scrub {
        width: 600px;
        height: auto;
    }

    /* .scrabImg {
        width: 80%;
    } */

    .saltBodyScrub {
        height: auto;
        object-fit: initial;
    }

    .h1Body {
        font-size: 32px;
    }

    .description {
        font-size: 12px;
    }

}

@media (max-width: 768px) {
    .h1Header {
        font-size: 36px;
    
        .spanHeader {
            font-size: 28px;
        }
    }

    .catalogList {
        column-gap: 20px;
    }

    /* .descScrab {
        font-size: 8px;
    } */

    .saltBodyScrub {
        height: 102px;
        object-fit: cover;
    }
    
    .scrabImg {
        width: 80%;
    }

    .scrub {
        object-fit: cover;
        height: 120px;
        left: 50%;
        position: absolute;
        width: auto;
        transform: translate(-50%, -50%);
    }

    .bottomText {
        width: 400px;
    }

    .bottomText {
        margin: 90px 0 20px auto;
        width: 100%;
    }
    
    .imgWrapper {
        margin-top: 140px;
    }

}

@media (max-width: 610px) {
    .h1Header {
        font-size: 32px;
    
        .spanHeader {
            font-size: 24px;
        }
    }  

    .saltBodyScrub {
        height: auto;
        object-fit: initial;
    }

    .scrabImg {
        width: 70%;
    }

    .h3Body {
        font-size: 20px;
    }

    .descScrab {
        font-size: 9px;
    }
    

}

@media (max-width: 546px) {
    .h1Header {
        font-size: 28px;
    
        .spanHeader {
            font-size: 20px;
        }
    }

    .iconsWrapper {
        margin: 15% auto;
    }

    .catalogList {
        grid-template-columns: 1fr 1fr;
    }

    .scrabImg {
        width: 80%;
    }

    .h3Body {
        font-size: 28px;
    }

    .descScrab {
        font-size: 14px;
    }

    .infoButton {
        width: 60%;
    }    

    .cardContent {
        padding: 10px 30px 50px 30px;
    }
    
      
}

@media (max-width: 430px) {
    .saltBodyScrub {
        height: 57px;
        object-fit: cover;
    }

    .iconsWrapper {
        margin: 20% auto;
    }
}

@media (max-width: 362px) {
    .h1Header {
        font-size: 26px;
    
        .spanHeader {
            font-size: 18px;
        }
    }

    .iconsWrapper {
        margin: 30% auto;
    }

}