.headerWrapper {
    background: linear-gradient(180deg, #fff 0%, #f7efef 100%);
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.imgAll {
    margin-top: 80px;
    width: 674px;
    height: auto;
}

/* .imageWrapper {
    position: absolute;
    overflow: hidden;
} */

.image {
    /* width: 100%;
    height: auto; */
    height: auto;
    position: absolute;
    z-index: 1;
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    min-width: 130%;
    overflow: hidden;
}

.headerBody {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.textHeader {
    position: relative;
    z-index: 2;
    margin: 200px 0 200px;
}

.h1Header {
    font-weight: 400;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #0d0c10;
    margin-bottom: 20px;
}

.spanHeader {
    display: block;
    padding-top: 20px;
    font-weight: 600;
    font-size: 38px;
    line-height: 110%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: rgba(13, 12, 16, 0.9);
}

.pHeader {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-transform: lowercase;
    color: #0d0c10;
    letter-spacing: 0;
    width: 467px;
}

.icons {
    display: flex;
    padding-top: 63px;
    gap: 57px;
}

.wave {
    width: 100%;
    height: auto;
    transform: translateY(-30px);
}

.bottomText {
    margin: 0 auto;
    width: 480px;
    height: 30px;
    bottom: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    font-variant: small-caps;
    color: rgba(26, 26, 26, 0.5);
    letter-spacing: 0;
}

.imgWrapper {
    position: absolute;
    margin: 80px -30px 0 auto;
    right: 0;
    z-index: 1;
}


@media (max-width: 1248px) {
    .textHeader {
        margin: 150px 0 150px;
    }

    .imgAll {
        margin-top: initial;
        width: 620px;
    }

    .imgWrapper {
        margin: 100px -50px 0 auto;
    }
}


@media (max-width: 1024px) {

    .imgAll {
        width: 600px;
    }

    .imgWrapper {
        margin: 130px -50px 0 auto;
    }

    .textHeader {
        margin: 100px 0 220px;
    }

    .spanHeader {
        font-size: 36px;
    }
    
    .pHeader {
        font-size: 12px;
        max-width: 397px;
    }

    .wave {
        transform: translateY(-40px);
    }

}


@media (max-width: 900px) {
    
    .imgWrapper {
        margin: 150px -50px 0 auto;
    }

    .imgAll {
        width: 540px;
    }

    .pHeader {
        width: 350px;
    }

    .icons {
        gap: 5%;
    }

    .textHeader {
        margin-bottom: 182px;
    }
}

@media (max-width: 768px) {
    .imgAll {
        margin: 0;
        width: 100%;
    }

    .image {
        margin-top: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 30%;
        overflow: hidden;
        width: 70vw;
        height: auto;
    }
    

    .textHeader {
        margin: 0;
    }

    .imgWrapper {
        position: initial;
        margin: 0;
        margin-top: 50px;
    }

    .headerBody {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .h1Header {
        font-size: 28px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #0d0c10;
        margin-bottom: 10px;
    }

    .pHeader {
        width: initial;
    }

    .icons {
        gap: 10%;
        justify-content: center;
        padding-top: 30px;
    }

    .spanHeader {
        padding-top: 10px;
        font-size: 38px;
    }

    .wave {
        transform: translateY(-30px);
    }
}

@media (max-width: 566px) {
    .h1Header {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .h1Header {
        font-size: 22px;
    }

    .spanHeader {
        padding-top: 10px;
        font-size: 34px;
    }

    .pHeader {
        font-size: 10px;
    }
    
    .wave {
        transform: translateY(-20px);
    }
}

@media (max-width: 433px) {
    .h1Header {
        font-size: 19px;
    }

    .spanHeader {
        padding-top: 10px;
        font-size: 32px;
    }
}

@media (max-width: 374px) {
    .h1Header {
        font-size: 17px;
    }

    .spanHeader {
        padding-top: 8px;
        font-size: 28px;
    }
    .pHeader {
        font-size: 9px;
    }

    .wave {
        transform: translateY(-10px);
    }
}