.navWrapper {
    position: fixed;
    top: 30px;
    left: 0;
    z-index: 100;
    width: 100%;
    transition: transform 0.5s cubic-bezier(0.4,0,0.2,1), opacity 0.5s cubic-bezier(0.4,0,0.2,1);
}

.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }
  
.nav {
    position: relative;
    display: flex;
    padding-top: 20px !important;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.backgroundNav {
    height: 82px;
    margin: 0;
    align-content: center;
    padding: 0;
    width: 100%;
    position: absolute;
    left: 0;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: saturate(150%) blur(5px);
    /* box-shadow: 0 2px 25px rgba(0, 0, 0, 0.05); */
}

/* .backgroundNavActive {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: saturate(150%) blur(5px);
} */

.links {
    display: flex;
    justify-content: space-between;
    width: 226px;
    color: #000;
    
}

.wblink {
    border: 1px solid #CB11AB;
    border-radius: 20px;
    height: 39px;
    width: 135px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: #000;
    transition: 
        background-color 0.3s ease,
        transform 0.3s ease, 
        color 0.3s ease;
}

.wblink:hover {
    transform: scale(1.05);
    background-color: #cb11ac5d;
    border-color: #ffffff5d;
}

.search {
    transition: 
        background-color 0.3s ease,
        transform 0.3s ease, 
        color 0.3s ease;
    }

.search:hover {
    transform: scale(1.2);
    }

.navLink {
    transition: 
        background-color 0.3s ease,
        transform 0.3s ease, 
        color 0.3s ease;
}

.navLink:hover {
    transform: scale(1.2);
}

 
@keyframes inputOn {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes searchButtonOn {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

.searchButtonOn {
    animation: searchButtonOn 0.6s;
    display: none;
}

.searchButtonOff {
    display: flex;
}

.searchOff {
    display: flex;
    
}

.searchOn {
    width: 80%;
    display: flex;
}

.inputOff {width: 0px;
    display: none;
    transition: 1s;
}

.inputOn {
    width: 100%;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid #e5e7eb;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 2.5rem;
    font-size: 0.875rem;
    outline-width: 1.3px;
    display: flex;
    animation: inputOn 0.6s;
    /* transition: 1s; */
}

@media (max-width: 900px) {
    .links {
        width: 200px;
        color: #000;
        
    }    
}

@media (max-width: 768px) {
    /* .burger {
        display: block;
    } */
    
    .links {
        display: none;
    }    

    .wblink {
        display: none;
    }

    .search {
        display: none;
    }

    .logo {
        min-width: 100px;
    }

    .navWrapper {
        top: 20px;
    }
}
