.popupMenu {
    width: 100%;
    gap: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: saturate(120%) blur(3px);
    width: 100vw;
    height: 100vh;
}

.burger {
    display: none;
    border: none;
    background-color: transparent;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
    padding: 50px 20px 50px 50px;
    width: 200px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.navLink {
    transition: 
        background-color 0.3s ease,
        transform 0.3s ease, 
        color 0.3s ease;
}


.navLink:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }
}