.ratio {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.rating {
    display: flex;
    align-items: center;
    gap: 5px;
}