.headerWrapper {
    background: linear-gradient(180deg, #fff 0%, #f7efef 100%);
    position: relative;
    overflow: hidden;
    margin-top: 112px;
    height: 650px;
    transition: 1s;
    z-index: 2;
}

.backgroundImage {
    height: auto;
    width: 100%;
    max-width: 1440px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;    
    transform: translate(-50%, -50%);
    overflow: hidden;
    filter: blur(3px);
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 100%;
}

.textBlock {
    z-index: 3;
    display: flex;
    flex-direction: column;
    transform: translate(50px, -40px);
}

.h1 {
    justify-content: center;
    transition: 1s;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #0d0c10;
    margin-bottom: 20px;
}

.span {
    transition: 1s;
    display: block;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 38px;
    line-height: 110%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
}

.p {
    transition: 1s;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-transform: lowercase;
    color: #717171;
    letter-spacing: 0;
    width: 467px;
}

.icons {
    transition: 1s;
    display: flex;
    padding-top: 30px;
    gap: 10%;
    width: 80%;
    justify-content: flex-start;
}

.iconWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.svgWrapper {
    width: 54px;
    height: 53px;
    transition: 1s;
}

.iconDescribtion {
    text-align: center;
    color: #717171;
}

.imgWrapper {
    transition: 1s;
    width: 674px;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 2;
    transform: translate(-15%, -50%);
}

.mainImage {
    margin: 0;
    width: 100%;
    height: auto;
}

.wave {
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: auto;
    transform: translateY(50%) rotate(180deg);
}

@media (max-width: 1248px) {
    .headerWrapper {
        height: 570px;
    }

    .imgWrapper {
        width: 600px;
        transform: translate(-12%, -50%);
    }

    .textBlock {
        transform: translate(0px, -40px);
    }

    .svgWrapper {
        width: 50px;
        height: 50px;
    } 
}

@media (max-width: 1024px) {
    .imgWrapper {
        width: 580px;
        transform: translate(-7%, -50%);
    }

    .h1 {
        font-size: 22px;
    }

    .span {
        font-size: 36px;
    }

    .icons {
        gap: 7%;
    }

    .svgWrapper {
        width: 45px;
        height: 45px;
    } 
}


@media (max-width: 900px) {
    .headerWrapper {
        height: 500px;
    }

    .imgWrapper {
        width: 500px;
        transform: translate(0%, -50%);
    }

    .pHeader {
        width: 350px;
    }


    .icons {
        gap: 5%;
    }
}

@media (max-width: 768px) {

    .backgroundImage {
        display: none;
    }

    .headerWrapper {
        margin-top: 102px;
        height: 900px;
    }

    .mainImage {
        margin: 0;
        width: 100%;
    }

    .image {
        display: none;
    }

    .textBlock {
        display: flex;
        gap: 30px;
        position: static;
        text-align: center;
        transform: translate(0px, 0px);
    }

    .imgWrapper {
        width: 550px;
        position: initial;
        transform: translate(0, 0);
        margin: 0;
        height: auto;
    }

    .header {
        height: 100%;
        gap: 20px;
        width: auto;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .h1 {
        margin-bottom: 0;
        font-size: 20px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #0d0c10;
    }

    .span {
        font-size: 34px;
    }

    .p {
        width: initial;
        font-size: 16px;
        max-width: initial;
        margin: 0 auto;
    }

    .icons {
        gap: 10%;
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .svgWrapper {
        width: 50px;
        height: 50px;
    } 
}

@media (max-width: 566px) {
    .headerWrapper {
        height: 800px;
    }

    .imgWrapper {
        width: 480px;
    }

    .p {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .h1 {
        font-size: 19px;
    }

    .span {
        font-size: 30px;
    }

    .p {
        font-size: 14px;
    }

    .imgWrapper {
        width: 420px;
    }
}

@media (max-width: 433px) {
    .textBlock {
        gap: 20px;
    }

    .headerWrapper {
        height: 700px;
    }

    .header {
        gap: 10px;
    }

    .h1 {
        font-size: 17px;
    }

    .span {
        font-size: 28px;
    }

    .imgWrapper {
        width: 370px;
    }

    .svgWrapper {
        width: 45px;
        height: 45px;
    } 
}

@media (max-width: 374px) {
    .h1 {
        font-size: 16px;
    }

    .imgWrapper {
        width: 320px;
    }


    .svgWrapper {
        width: 40px;
        height: 40px;
    }

    .iconDescribtion {
        font-size: 8px;
    }
}