.textBlockWrapper {
    margin-top: 5%;
}

.textHeaderWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2 {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
}



.logoSvgWrapper {
    margin: -20px 0 0 120px;
}

.blocks {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
    flex-direction: column;
    gap: 20px;
    background: rgb(248 241 241 / 33%);
    border-radius: 15px;
    padding: 20px 15px 15px;
}

.blockWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 100%;
}

.h3 {
    text-decoration: underline solid rgba(0, 0, 0, 0.8);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
}

.pBackground {
    padding: 15px 25px;
    font-weight: 500;
    color: #717171;
    background: rgba(0, 0, 0, .02);
    border-radius: 15px;
    width: 100%;
    height: 80px;
    transition: 0.3s;
}

.pBackground:hover {
    height: 120px;

    .p {
        display: flex;
        align-items: center;
    }
}

.p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    align-content: center;
    font-size: clamp(14px, 2vw, 16px);
    /* mask-image: linear-gradient(to bottom, black 60%, transparent 100%); */
    /* -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%); */
}

.aboutUsButton {
    display: flex;
    justify-content: center;
    transition: 0.3s;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    align-items: center;
    background-color: rgb(157 19 227 / .5);
    height: 60px;
    max-width: 340px;
    margin: 20px auto;
    font-weight: 700;
}

.aboutUsButton:hover {
    background-color: rgb(157 19 227 / .7);
}

@media (max-width: 768px) {   
 
    .pBackground:hover {
        height: 150px;
    }

    .pBackground {
        padding: 15px 17px;
    }
}

@media (max-width: 610px) {
    .aboutUsButton {
        max-width: initial;
        height: 50px;
        border-radius: 10px;
    }

    .pBackground {
        border-radius: 10px;
    }
}

@media (max-width: 450px) {
    
    .logoSvgWrapper {
        width: 180px;
        height: 48px;
        margin: -20px 0 0 110px;
    }
}

@media (max-width: 380px) {

    .h2 {
        font-size: 18px;
    }      
    
    .logoSvgWrapper {
        width: 150px;
        height: 38px;
        margin: -30px 0 0 90px;
    }
}

@media (max-width: 330px) {
    .pBackground:hover {
        height: 170px;
    }
}
