@keyframes inputOn {
    0% { transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

.formWrapper {
    width: 100dvw;
    height: 100dvh;
    position: relative;
    background: linear-gradient(180deg, #fff 0%, #f7efef 100%);
    font-family: Arial;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    min-width: 260px;
    width: 90%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 0.2px solid var(--border);
    transition: 0.3s;
}

.form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.h1 {
    font-weight: 500;
    font-size: clamp(18px, 6vw, 22px);
    text-transform: uppercase;
    color: var(--text-black);
    text-align: center;
    -webkit-text-decoration: underline solid var(--text-black);
    text-decoration: underline solid var(--text-black);
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.label {
    width: 30%;
    display: none;
}

.input {
    font-size: 16px;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: transparent;
    border: 0.2px solid var(--border);
    width: 100%;
    height: 45px;
}

.authError {
    margin: 0 auto;
    font-size: 12px;
    color:var(--form-error);
    background-color: transparent;
    width: 100%;
    animation: inputOn 0.3s;
}

.submitButton {
    transition: 0.3s;
    font-size: 16px;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: var(--button-mint);
    width: 100%;
    height: 45px;
    text-transform: capitalize;
    color: white;
    font-weight: 700;
}

.submitButton:hover {
    background-color: var(--button-mint-hover);
}

.hr {
    margin: 0;
    width: 90%;
}

.or {
    margin: 0 10px;
    color: var(--text-grey);
    text-transform: uppercase;
    font-weight: 400;
    align-content: center;
}

.oauthButton {
    font-size: 16px;
    border-radius: 15px;
    background-color: transparent;
    border: 0.2px solid var(--border);
    width: 100%;
    height: 45px;
    color: var(--text-grey);
    font-family: Arial;
    letter-spacing: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    gap: 15px;
}

.oauthButton:hover {
    background-color: var(--background);
}

.google:before {
    height: 25px;
    content: url("../../public/svg/google-logo.svg");
}

.yandex:before {
    height: 25px;
    content: url("../../public/svg/yandex-logo.svg");
}

.signup {
    font-size: 14px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    left: 0;
    text-align: center;
    color: var(--text-grey);
}

.link {
    text-decoration: initial;
    color: var(--link);
    text-decoration: underline solid var(--link);
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    transition: 0.3s;
}

.link:hover {
    color: var(--link-hover);
    text-decoration: underline solid rgba(18, 61, 250, 1);
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

.checkbox {
    font-size: 14px;
    border-radius: 15px;
    color: var(--text-grey);
    text-align: left;
}

.submitButtonDisabled {
    font-size: 16px;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: var(--disabled-button);
    width: 100%;
    height: 45px;
    cursor: initial;
    text-transform: capitalize;
    color: white;
    font-weight: 700;
    transition: 0.3s;
}
