.headerWrapper {
    background: linear-gradient(180deg, #fff 0%, #f7efef 100%);
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin-top: 112px;
    height: 650px;
}

.backgroundImage {
    height: auto;
    width: 100%;
    max-width: 1440px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;    
    transform: translate(-50%, -50%);
    overflow: hidden;
    filter: blur(3px);
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 100%;
}

.textBlock {
    margin-bottom: 100px;
    position: absolute;
    z-index: 3;
}

.h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #0d0c10;
    margin-bottom: 20px;
}

.span {
    display: block;
    padding-top: 20px;
    font-weight: 600;
    font-size: 38px;
    line-height: 110%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: rgba(13, 12, 16, 0.9);
}

.p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-transform: lowercase;
    color: #0d0c10;
    letter-spacing: 0;
    width: 467px;
}

.icons {
    display: flex;
    padding-top: 30px;
    gap: 50px;
}

.iconWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.iconDescribtion {
    text-align: center;
}

.imgWrapper {
    width: 674px;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 2;
    transform: translate(-15%, -50%);
}

.mainImage {
    margin: 0;
    width: 100%;
    height: auto;
}

.wave {
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: auto;
    transform: translateY(50%) rotate(180deg);
}

@media (max-width: 1248px) {
    .imgWrapper {
        margin-top: 50px;
        width: 600px;
        transform: translate(-12%, -50%);
    }
}

@media (max-width: 1024px) {
    .imgWrapper {
        width: 580px;
        transform: translate(-7%, -50%);
    }

    .h1 {
        font-size: 26px;
    }

    .span {
        font-size: 36px;
    }
    
    .p {
        font-size: 12px;
        max-width: 397px;
    }
}


@media (max-width: 900px) {
    .imgWrapper {
        transform: translate(0%, -50%);
    }

    .textBlock {
        margin-bottom: 200px;
    }

    .pHeader {
        width: 350px;
    }


    .icons {
        gap: 5%;
    }
}

@media (max-width: 768px) {

    .headerWrapper {
        margin-top: 102px;
        height: 900px;
    }

    .mainImage {
        margin: 0;
        width: 100%;
    }

    .image {
        display: none;
    }

    .textBlock {
        position: static;
        margin-bottom: 50px;
    }

    .imgWrapper {
        position: initial;
        transform: translate(0, 0);
        margin: 0;
        height: auto;
    }

    .header {
        height: 100%;
        width: auto;
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }

    .h1 {
        font-size: 28px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #0d0c10;
        margin-bottom: 10px;
    }

    .p {
        max-width: initial;
        width: initial;
    }

    .icons {
        gap: 10%;
        padding-top: 30px;
    }

    .span {
        padding-top: 10px;
        font-size: 38px;
    }
}

@media (max-width: 566px) {
    .headerWrapper {
        height: 800px;
    }

    .h1 {
        font-size: 25px;
    }

    .imgWrapper {
        width: 500px;
    }
}

@media (max-width: 500px) {
    .h1 {
        font-size: 22px;
    }

    .span {
        padding-top: 10px;
        font-size: 34px;
    }

    .p {
        font-size: 10px;
    }
}

@media (max-width: 433px) {
    .headerWrapper {
        height: 700px;
    }

    .h1 {
        font-size: 19px;
    }

    .span {
        padding-top: 10px;
        font-size: 32px;
    }

    .imgWrapper {
        width: 450px;
    }
}

@media (max-width: 374px) {
    .h1 {
        font-size: 17px;
    }

    .span {
        padding-top: 8px;
        font-size: 28px;
    }
    .p {
        font-size: 9px;
    }

    .imgWrapper {
        width: 400px;
    }
}