@keyframes inputOn {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

.popupMenu {
    width: 100%;
    gap: 30px;
    position: fixed;
    top: 0;
    margin: 102px 0 0 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: right;
    /* backdrop-filter: saturate(120%) blur(3px); */
    width: 100vw;
    height: 100vh;
    transition: 1s;
}

.burger {
    display: none;
    border: none;
    background-color: transparent;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #000;
    color: #717171;
    height: 100dvh;
    /* background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
    border-left: 0.2px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: saturate(150%) blur(5px);
    backdrop-filter: blur(5px);
    animation: inputOn 0.5s;
}

.navLink {
    width: 175px;
    display: flex;
    align-items: center;
    gap: 20px;
    letter-spacing: 1px;
    text-align: left;
    font-size: 12px;
    padding: 10px 20px;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.1);
    transition: 
        background-color 0.3s ease,
        transform 0.3s ease, 
        color 0.3s ease;
}

.icon {
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.navLink:hover {
    text-decoration: underline solid rgba(0, 0, 0, 0.2);
    .icon{
        transition: 0.2s;
        scale: 1.2;
    }
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }
}

@media (min-width: 769px) {
    .links {
        display: none;
    }
}