

.wrapper {
    padding: 150px 150px 0 !important;
    font-size: 16px;
    gap: 30px;
    display: flex;
    font-family: Arial;
}

.menu {
    border-left: var(--border) 1px solid;
    padding: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 150px;
    height: 100dvh;
    max-width: 250px;
    transform: translateY(6px);
}

.buttonClose {
    display: block;
    cursor: pointer;
}

.buttonOpenContainer {
    display: flex;
    position: fixed;
    z-index: 1; 
    width: 100%;
    left: 0;
    transform: translateY(-35px);
    height: 41px;
    border-bottom: 0.2px solid var(--border);
    background-color: var(--search-list-background);
    backdrop-filter: saturate(150%) blur(5px);
}

.buttonOpen {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    width: 100%;
    padding: 0 150px;
    margin: 0 auto;
    height: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 20px;
    height: 20px;
    transform: rotate(initial);
}

.iconRotate {
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
}

.closed {
    display: none;
}

.menuList {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
    letter-spacing: initial;
    overflow-y: scroll;
    max-height: 60dvh;
    position: relative;
}

.menuListGradient {
    width: 100%;
    height: 70px;
    transform: translateY(-90px);
    background: linear-gradient(180deg, transparent, white);
}

.backgroundImage {
    height: auto;
    width: 100%;
    max-width: 1440px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;    
    transform: translate(-50%, -50%);
    overflow: hidden;
    filter: blur(3px);
}

.menuItem {
    width: 200px;
    color: var(--text-grey);
}

.menuItem:hover {
    color: var(--text-black);
    text-decoration: underline solid var(--text-black);
}

.link {
    text-decoration: initial;
    color: var(--link);
}

.link:hover {
    color: var(--link-hover);
    text-decoration: underline solid var(--link-hover);
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

.privacy {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--text-black);
    margin: 30px 0 50px 0;
}

.h1 {
    font-weight: 500;
    letter-spacing: 0;
    font-size: clamp(24px, 4vw, 32px);
}

.h2 {
    font-weight: 500;
    font-size: clamp(20px, 4vw, 24px);
    margin-bottom: 15px;
}

/* .section {
    display: flex;
    flex-direction: column;
    gap: 30px;
} */

.ol {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: disc;
    margin: 10px 0 0 20px;
}

.p {
    color: var(--text-grey);
    font-size: clamp(14px, 4vw, 16px);
    margin-top: 10px;
}

.li {
    color: var(--text-grey);
    font-size: clamp(14px, 4vw, 16px);
}

.span {
    color: var(--text-grey);
}

@media (max-width: 1248px) {
    .wrapper {
        padding: 150px 10% 0 !important;
    }
 
    .buttonOpen {
        padding: 0 10%;
    }
}

@media (max-width: 768px) {
    .buttonOpen {
        padding: 0 5%;
    }

    .wrapper {
        padding: 150px 5% 0 !important;
    }

    .buttonOpenContainer {
        transform: translateY(-45px);
    }

    .privacy {
        gap: 35px;
    }

    .section {
        gap: 25px;
    }

    .menuList {
        padding: 20px 5%;
        overflow: scroll;
        max-height: 70dvh;
    }

    .menuListGradient {
        display: none;
    }

    .menuItem {
        width: initial;
    }

    .menu {
        height: initial;
        position: fixed;
        left: 0;
        width: 100%;
        max-width: initial;
        padding: 0;
        margin: 0;
        border-left: initial;
        border-bottom: 0.2px solid var(--border);
        background-color: var(--search-list-background);
        -webkit-backdrop-filter: saturate(150%) blur(5px);
        backdrop-filter: saturate(150%) blur(5px);
        transform: translateY(-4px);
    }
}
