@keyframes search {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes searchList {
    0% { opacity: 0;  transform: translateY(-100%);}
    100% { opacity: 1; transform: translateY(0);}
}

.wrapper {
    position: relative;
}

.background {
    position: fixed;
    transform: translateY(-112px);
    padding-top: 112px;
    animation: search 0.7s;
    z-index: 99;
    background-color: var(--search-list-background);
    backdrop-filter: blur(7px);
    width: 100dvw;
    height: 80%;
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);    
}

.searchListWrapper {
    position: fixed;
    animation: search 0.7s;
    z-index: 99;
    width: 100dvw;
}

.searchList {
    animation: searchList 0.6s;
    display: flex;
    flex-direction: column;
    height: max-content;
    border-radius: 10px;
    margin-top: 10px;
    width: fit-content;
}

.linkSpace {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.searchRow {
    position: relative;
    display: flex;
    min-width: 550px;
    gap: 30px;
    justify-content: space-between;
    height: 70px;
    border-bottom: 0.2px solid var(--border);
}

.link {
    display: flex;
    gap: 15px;
    flex-grow: 1;
}

.rowBackground {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 70px;
}


.imgWrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 120px;
    height: auto;
    transition: 0.3s;
    min-width: 80px;
}

.imgWrapper:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.image {
    height: auto;
    width: 100%;
}

.name {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    color: var(--black);
    text-transform: uppercase;
    transition: 0.3s;
}

.name:hover {
    text-decoration: underline solid var(--text-black);
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    .imgWrapper {
        transform: scale(1.1);
    }
}

.reviews {
    display: flex;
    align-items: center;
}

.questions {
    display: flex;
    align-items: center;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: right;
    transition: 0.3s;
    margin-right: 10px;
}

.buttonWrapper:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.button{
    backdrop-filter: blur(5.0px);
    background-color: transparent;
    bottom: -21px;
    display: flex;
    justify-content: center;
    border: 1px solid #CB11AB;
    border-radius: 20px;
    width: 130px;
    height: 37px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-black);
    align-items: center;    
}

@media (max-width: 1024px) {
    .searchRow {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .searchList {
        gap: 0px;
        width: initial;
    }

    .button {
        width: 110px;
        height: 33px;
    }

    .name {
        font-size: 12px;
    }

    .questions {
        display: none   ;
    }

    .rowBackground {
        height: 50px;
        top: 20%;
    }

    .searchRow {
        gap: 0px;
        min-width: initial;
    }

    .imgWrapper {
        width: 100px;
    }

    .setsImg {
        width: 100px;
    }
    
    .pocketImg {
        width: 80px;
    }
    
    .scrabImg {
        width: 70px;
    }
}

@media (max-width: 475px) {
    .imgWrapper {
        width: 80px;
    }

    .searchRow {
        height: 60px;
    }

    .setsImg {
        width: 80px;
    }
    
    .pocketImg {
        width: 60px;
    }
    
    .scrabImg {
        width: 50px;
    }
}