.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    max-width: 1750px;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.elem1 {
    position: absolute;
    top: 52%;
    left: -2%;
    width: 70px;
    height: auto;
    opacity: 0.9;
    transform: rotate(140deg);
}

.elem2 {
    transform: rotate(50deg);
    max-width: 120px;
    position: absolute;
    top: 47%;
    right: -5%;
    width: 10%;
    height: auto;
    opacity: 0.9;
}

.elem3 {
    position: absolute;
    top: 80%;
    left: 7%;
    width: 8%;
    max-width: 120px;
    height: auto;
}

.elem4 {
    max-width: 120px;
    transform: rotate(120deg);
    position: absolute;
    top: 10%;
    left: 12%;
    width: 8%;
    height: auto;
    opacity: 0.9;

}

.elem5 {
    position: absolute;
    top: 23%;
    right: 32%;
    width: 7%;
    height: auto;
    transform: rotate(-250deg);
    opacity: 0.80;
}

.elem6 {
    width: 5%;
    height: auto;
    position: absolute;
    right: 4%;
    top: 13%;
    transform: rotate(90deg);
}

.elem7 {
    width: 7%;
    height: auto;
    position: absolute;
    left: 38%;
    top: 65%;
    filter: blur(1.6px);
    opacity: 0.9;
}

.elem8 {
    width: 50px;
    height: auto;
    position: absolute;
    left: 45%;
    top: 13%;
    transform: rotate(140deg);
    
}

.elem9 {
    max-width: 120px;
    width: 9%;
    height: auto;
    position: absolute;
    top: 85%;
    right: 5%;
    transform: rotate(190deg);
    opacity: 0.9;
}

.elem10 {
    width: 3%;
    height: auto;
    position: absolute;
    top: 35%;
    right: 12%;
    transform: rotate(-67deg);
    opacity: 0.9;
}

@media (max-width: 1248px) {
    .elem10 {
        right: 66%;
        top: 45%;
    }
}


@media (max-width: 1024px) {
    .elem5 {
        width: 10%;
        top: 32%;
    }

    .elem7 {
        top: 77%;
        left: 37%;
    }
}

@media (max-width: 610px) {
    .elem1 {
        top: -4%;
        width: 7%;
        left: 7%;
    }
    
    .elem2 {
        width: 8%;
        right: 15%;
        top: 60%;
        transform: scaleX(-1);
    }
    
    .elem3 {
        width: 10%;
        opacity: 0.9;
        left: 78%;
        top: 87%;
        transform: scaleX(-1);
    }
    
    .elem4 {
        width: 12%;
        left: 54%;
        top: -17%
    }
    
    .elem5 {
        width: 13%;
        top: 7%;
        right: 14%;
    }
    
    .elem6 {
        width: 5%;
        top: 90%;
        right: 80%;
        opacity: 0.8;
    }
    
    .elem7 {
        width: 12%;
        top: 65%;
        left: -7%;
        transform: rotate(-130deg);
    }
    
    .elem8 {
        width: 10%;
        top: 20%;
        left: -5%;
        
    }
    
    .elem9 {
        width: 10%;
        top: 70%;
        right: 40%;
        transform: rotate(-90deg);
    }
    
    .elem10 {
        width: 7%;
        right: -3%;
        top: 45%
    }
}