/* @keyframes underline {
    0% { opacity: 0; }
    100% { opacity: 1; }
} */

.navWrapper {
    position: fixed;
    top: 30px;
    left: 0;
    z-index: 100;
    width: 100%;
}

.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}
  
.search {
    width: 100%;
    height: auto;
    transition: 0.2s;
}

.nav {
    position: relative;
    display: flex;
    padding-top: 20px !important;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.logo::before {
    content: url("../../../public/svg/logo.svg");
}

.backgroundNav {
    height: 85px;
    margin: 0;
    align-content: center;
    padding: 0;
    width: 100%;
    position: absolute;
    left: 0;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: saturate(150%) blur(5px);
    /* box-shadow: 0 2px 25px rgba(0, 0, 0, 0.05); */
}

.links {
    display: flex;
    justify-content: space-between;
    width: 300px;
    color: #000;
    
}

.loginButton {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    height: 39px;
    width: 135px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.loginButton:hover {
    border-color: #202020;
}

.search:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.navLink {
    font-size: 14px;
    height: 20px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.navLink:hover {
    transition: 0.5s;
    opacity: 1;
    text-decoration: underline solid rgba(0, 0, 0, 0.8);
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

 
@keyframes inputOn {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes searchButtonOn {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

.searchButton {
    align-items: center;
    display: flex;
    width: 17px;
    height: 17px;
}

.profileIcon {
    display: flex;
    align-items: center;
    transition: 0.2s;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    background: rgba(0, 131, 65, 0.5);
    height: 45px;
    border-radius: 20px;
    color: #ffffff;
    padding: 1% 4%;
    justify-content: center;
}

.profileIcon:hover {
    background: rgba(0, 131, 65, 0.7);
}

.searchOff {
    display: flex;
    
}

.searchOn {
    width: 80%;
    display: flex;
}

.inputOff {width: 0px;
    display: none;
    transition: 1s;
}

.inputOn {
    width: 100%;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid #e5e7eb;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 2.5rem;
    font-size: 0.875rem;
    outline-width: 1.3px;
    display: flex;
    animation: inputOn 0.6s;
    /* transition: 1s; */
}

.svgWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-grow: 0.3;
}

@media (max-width: 1024px) {
    .logo::before {
        content: url("../../../public/svg/mc.svg");
    }

    .links {
        width: 260px;
        justify-content: space-around;
    }    

    .navLink {
        font-size: 12px;
    }
}    

@media (max-width: 768px) {
    /* .burger {
        display: block;
    } */


    
    .links {
        display: none;
    }    

    .loginButton {
        display: none;
    }
    
    .navWrapper {
        top: 20px;
    }

    .searchButton {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 12px;
    }

    .search {
        width: 100%;
        margin: 0 10px;
    }

    .svgWrapper {
        height: 42px;
        margin: 0;
        justify-content: right;
        width: 100%;
    }
    
    .profileIcon {
        display: none;
    }
}