.headerWrapper {
    height: 650px;
    margin-top: 112px;
    position: relative;
    z-index: 0;
    background: linear-gradient(180deg, #fff 0%, #f7efef 100%);
}

.backgroundImage {
    height: auto;
    width: 100%;
    max-width: 1440px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;    
    transform: translate(-50%, -50%);
    filter: blur(3px);
}

.wave {
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: auto;
    transform: translateY(50%) rotate(180deg);
    z-index: 1;
}

@media (max-width: 1248px) {
    .headerWrapper {
        height: 570px;
    }
}

@media (max-width: 900px) {
    
    .headerWrapper {
        height: 500px;
    }
}

@media (max-width: 768px) {
    .headerWrapper {
        margin-top: 102px;
        height: 900px;
    }
    
    .backgroundImage {
        display: none;
    }
}

@media (max-width: 600px) {
    .headerWrapper {
        height: 950px;
    }
}

@media (max-width: 566px) {
    .headerWrapper {
        height: 800px;
    }
}

@media (max-width: 433px) {
    .headerWrapper {
        height: 700px;
    }
}