.bodyWrapper {
    margin-top: 3% !important;
}

.description {
    height: 150px;
    width: 100%;
}

.productCard {
    height: 700px;
    width: 100%;
}

.howToUse {
    height: 350px;
    width: 100%;
}