.background {
    height: 650px;
    position: relative;
    background: linear-gradient(180deg, #fff 0%, #f7efef 100%);
    width: 100%;
    z-index: 1;
}

.imgDefaultWrapper {
    display: none;
}

.text {
    display: none;
}

.backgroundText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    filter: blur(3px);
    height: auto;
    width: 100%;
    max-width: 1440px;
}

@media (max-width: 1024px) {
    .background {
        height: 600px;
    }
}

@media (max-width: 768px) {
    .background {
        height: 550px;
    }
}

@media (max-width: 610px) {
    .mainImg {
        display: block;
        width: 90%;
        height: auto;
        color: transparent;
    }


    .imgDefaultWrapper {
        position: relative;
        display: block;
        width: 100%;
        right: 0;
        transform: translate(0, 0);
        top: 0px;
        text-align: center;
    }

    .headerWrapper {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .contetnt {
        width: 100%;
        position: relative;
        padding: 0 5%;
        height: auto;
    }
    
    .text {
        display: flex;
        height: 187px;
        position: relative;
        top: 0px;
        transform: translate(0, 0);
        width: 90%;
        margin: 0 auto 5%;
    }

    .bubbleGumWrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        max-width: 1750px;
        transform: translate(-50%, -50%);
        z-index: 4;
    }
    
    
}