.catalogWrapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.swgWrapper {
    width: 54px;
    height: 53px;
    transition: 1s;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    font-variant: small-caps;
    color: #1a1a1a;
    height: 100px;
    align-content: center;
}

.h2 {
    font-weight: 400;
    font-size: 38px;
    line-height: 110%;
    text-transform: uppercase;
    color: #1a1a1a;
    text-align: center;
}

.list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}

.item {
    border-radius: 8px;
    transition: 1s;
    position: relative;
    width: 23%;
    height: 300px;
    background: linear-gradient(180deg, transparent 0%, #ececec7c 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link {
    z-index: 2;
    max-width: 260px;
    min-width: 170px;
    margin: 0 auto;
    width: 100%;
}

.pocketLink {
    z-index: 2;
    max-width: 200px;
    min-width: 170px;
    margin: 0 auto;
    width: 100%;
    transform: translateY(-20px);
    height: 150px;
}

.peachLink {
    z-index: 2;
    max-width: 220px;
    min-width: 170px;
    margin: 0 auto;
    transform: translateY(10px);
    width: 100%;
}

.img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
}

.gradient {
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease-out;
    z-index: -1;
}

.productCard {
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 4% 10% 17% 7.5%;
    z-index: 3;
}

.h3 {
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
    color: #000;
}

.productDescription {
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #676767;
}

.buttonWrapper {
    margin: 0 auto;
    display: flex;
    position: absolute;
    width: 100%;
    transform: translateY(20px);
    bottom: 0;
    justify-content: center;
}

.button {
    backdrop-filter: blur(5.0px);
    background-color: #FFFFFF9a;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 70%;
    height: 42px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    align-items: center;    
}

.iconsWrapper {
    display: flex;
    margin: 0 auto;
    gap: 10%;
    justify-content: center;
    width: 70%;
    margin-top: 30px;
}

.iconWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.iconDescribtion {
    text-align: center;
}


.partners {
    display: flex;
    justify-content: space-around;
}


.gradient1 {
    background: linear-gradient(180deg, transparent 30%, #ffa30b87 100%);
}

.item:hover .gradient1 {
    opacity: 1;
    background: linear-gradient(180deg, transparent 30%, #ffa30b87 100%);
}

.gradient2 {
    background: linear-gradient(180deg, transparent 30%, #ff7fb685 100%);
}

.item2:hover .gradient2 {
    opacity: 1;
    background: linear-gradient(180deg, transparent 30%, #ff7fb685 100%);
}

.gradient3 {    
    background: linear-gradient(180deg, transparent 30%, #d77eff85 100%);
}

.item3:hover  .gradient3{
    opacity: 1;
    background: linear-gradient(180deg, transparent 30%, #d77eff85 100%);
}

.gradient4 {    
    background: linear-gradient(180deg, transparent 30%, #ffc2857a 100%);
}

.item4:hover  .gradient4{
    opacity: 1;
    background: linear-gradient(180deg, transparent 30%, #ffc2857a 100%);
}

.gradient5 {    
    background: linear-gradient(180deg, transparent 30%, #cfaa3c54 100%);
}

.item5:hover  .gradient5{
    opacity: 1;
    background: linear-gradient(180deg, transparent 30%, #cfaa3c54 100%);
}

.gradient6 {    
    background: linear-gradient(180deg, transparent 30%, #fff47d8f 100%);
}

.item6:hover  .gradient6{
    opacity: 1;
    background: linear-gradient(180deg, transparent 30%, #fff47d8f 100%);
}

.gradient7 {    
    background: linear-gradient(180deg, transparent 30%, #ff7c7c80 100%);
}

.item7:hover  .gradient7{
    opacity: 1;
    background: linear-gradient(180deg, transparent 30%, #ff7c7c80 100%);
}

.gradient8 {    
    background: linear-gradient(180deg, transparent 30%, #ffa17c82 100%);
}

.item8:hover  .gradient8{
    opacity: 1;
    background: linear-gradient(180deg, transparent 30%, #ffa17c82 100%);
}

.gradient9 {    
    background: linear-gradient(180deg, transparent 30%, #a9ff7f82 100%);
}

.item9:hover  .gradient9{
    opacity: 1;
    background: linear-gradient(180deg, transparent 30%, #a9ff7f82 100%);
}

.gradient10 {    
    background: linear-gradient(180deg, transparent 30%, #927fff7a 100%);
}

.item10:hover .gradient10 {
    opacity: 1;
    background: linear-gradient(180deg, transparent 30%, #927fff7a 100%);
}

.gradient11 {    
    background: linear-gradient(180deg, transparent 30%, #7de7ff80 100%);
}

.item11:hover .gradient11 {
    opacity: 1;
    background: linear-gradient(180deg, transparent 30%, #7de7ff80 100%);
}

.gradient12 {    
    background: linear-gradient(180deg, transparent 30%, #7effdb40 100%);
}

.item12:hover .gradient12 {
    opacity: 1;
    background: linear-gradient(180deg, transparent 30%, #7effdb40 100%);
}

.gradient13 {    
    background: linear-gradient(180deg, transparent 30%, #ff79c330 100%);
}

.item13:hover .gradient13 {
    opacity: 1;
    background: linear-gradient(180deg, transparent 30%, #ff79c330 100%);
}

.gradient14 {    
    background: linear-gradient(180deg, transparent 30%, #ffa07b45 100%);
}

.item14:hover .gradient14 {
    opacity: 1;
    background: linear-gradient(180deg, transparent 30%, #ffa07b45 100%);
}

.gradient15 {    
    background: linear-gradient(180deg, transparent 30%, #c17cff1f 100%);
}

.item15:hover .gradient15 {
    opacity: 1;
    background: linear-gradient(180deg, transparent 30%, #c17cff1f 100%);
}

.gradient16 {    
    background: linear-gradient(180deg, transparent 30%, #e9ee6d63 100%);
}

.item16:hover .gradient16 {
    opacity: 1;
    background: linear-gradient(180deg, transparent 30%, #e9ee6d63 100%);
}

.button:hover {
    border-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
    .item {
        width: 31%;
    }

    .h2 {
        font-size: 32px;
    }

    .description {
        font-size: 12px;
    }

}

@media (max-width: 768px) {

    .item {
        width: 48%;
    }

    .description {
        font-size: 12px;
    }

    .productDescription {
        font-size: 9px;
    }

    .iconsWrapper {
        width: 100%;
    }
}

@media (max-width: 546px) {

    .h2 {
        font-size: 28px;
    }

    .productCard {
        gap: 10px;
    }

    .productDescription {
        font-size: 10px;
    }

    .swgWrapper {
        width: 50px;
        height: 50px;
    } 
}

@media (max-width: 430px) {
    .description {
        font-size: 10px;
    }

    .productDescription {
        font-size: 9px;
    }
}

@media (max-width: 362px) { 
    .item {
        width: 100%;
    }

    .productCard {
        gap: 15px;
    }

    .description {
        font-size: 9px;
    }

    .productDescription{
        font-size: 8px;
    }
}

@media (max-width: 320px) {

     .h2 {
        font-size: 28px;
    }

    .productDescription {
        font-size: 10px;
    }

    .productDescription {
        font-size: 10px;
    }
}