.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 100%;
}

.imgWrapper {
    transition: .3s;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 2;
    transform: translate(-15%, -50%);
    width: 45%;
    max-width: 550px;
    min-width: 300px;
}

.textBlock {
    z-index: 3;
    display: flex;
    flex-direction: column;
    transform: translateY(-40px);
    gap: 20px;
}

.mainImage {
    width: 100%;
    height: auto;
}

.h1 {
    transition: 0.3s;
    font-weight: 400;
    font-size: clamp(22px,2.7vw, 24px);
    line-height: 110%;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--text-black);
}

.span {
    transition: 0.3s;
    display: block;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: clamp(30px, 4vw, 38px);
    line-height: 110%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: var(--text-black);
}

.p {
    transition: 0.3s;
    font-weight: 400;
    font-size: clamp(16px, 2vw, 18px);
    line-height: 150%;
    text-transform: lowercase;
    color: var(--text-grey);
    letter-spacing: 0;
    width: 520px;
}

.list {
    transition: .3s;
    font-weight: 400;
    font-size: clamp(14px, 2vw, 18px);
    line-height: 150%;
    text-transform: lowercase;
    color: var(--text-grey);
    letter-spacing: 0;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.listItem {
    align-items: center;
    gap: 30px;
    display: flex;
}

.listItem::before {
    height: 26px;
    content: url("../../../public/svg/leave.svg");
}

.buyLink {
    display: flex;
    justify-content: center;
    transition: 0.3s;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--white);
    align-items: center;
    background-color: var(--button-mint);
    height: 60px;
    width: 60%;
    font-weight: 700;
}

.buyLink:hover {
    background-color: var(--button-mint-hover);
}

@media (max-width: 1248px) {
    .imgWrapper {
        transform: translate(-10%, -50%);
    }
}

@media (max-width: 1024px) {
    .textBlock {
        width: 100%;
    }

    .list {
        width: initial;
    }

    .listItem {
        gap: 15px;
    }

    .imgWrapper {
        position: initial;
        transform: translate(0, 0);
        margin-top: 30px;
        width: 90%;
        max-width: initial;
    }

    .textBlock {
        transform: translate(0px, 0px);
        margin: 0 0 30px;
    }

    .header {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headerList {
        gap: 25px;
    }

    .buyLink {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .imgWrapper {
        width: 100%;
    }

    .headerWrapper {
        height: auto;
    }
}